<div class="d-flex justify-content-between align-items-center my-3">
    <div>
        <h1>Pending Games</h1>
        <p class="m-0">Click a game to join!</p>
    </div>
    <div class="text-end flex-grow-1">
        <a class="btn btn-primary m-0" routerLink="/games/create">Create game</a>
    </div>
</div>

<div class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="/games/12/join">A second link item</a>
    <a class="list-group-item list-group-item-action">A third link item</a>
    <a class="list-group-item list-group-item-action">A fourth link item</a>
</div>