@import 'src/styles/variables';

th,
td {
  width: 48px;
  height: 48px;
  text-align: center;
}

td {
  border: 1px solid $gray-900;
}

#player-ships-board {
  td {
    &.shot-present {
      background-color: $gray-500;
    }
  }
}

#player-shots-board {
  td {
    &.selected {
      background-color: $gray-500;
    }

    &:not(.shot-present):not(.selected):hover {
      background-color: $gray-300;
    }
  }
}
