@import 'src/styles/variables';

th,
td {
  width: 48px;
  height: 48px;
  text-align: center;
}

td {
  border: 1px solid $gray-900;
}

#player-ships-board {
  td {
    &.shot-miss {
      background-color: $gray-300;
    }

    &.shot-hit {
      color: $gray-100;
      background-color: $red;
    }
  }
}

#player-shots-board {
  td {
    &.selected {
      background-color: $gray-700;
    }

    &:not(.selected):not(.shot-miss):not(.shot-hit):hover {
      background-color: $gray-500;
    }

    &.shot-miss {
      background-color: $gray-300;
    }

    &.shot-hit {
      color: $gray-100;
      background-color: $green;
    }
  }
}
